@{
}

<section class="Light_dark_showcase">
    <div class="container">

        <!-- <img class="slider-button" src="images/slider-button.svg" alt=""> -->
        <div class="dark_mode">
            <h1>Switch Between</h1>
            <img src="~/images/macbook-pro-dark.svg" alt="">
        </div>
        <div class="light_mode">
            <h1 class="dark-text">Light & Dark Mode</h1>
            <img src="~/images/MacBook_Pro-light.svg" alt="">
        </div>
    </div>
</section>